{% include 'base.html' %}
<style>
        body
        {
            font-family: 'Garamond', 'Georgia', serif;
        }
</style>
<body>
    <h3> the data structure </h3>
    <p data-bind="text:dat"></p>
    <h3> the mapping </h3>
    <p data-bind="text:ko.toJSON(mappedSections)"> </p>
    <h3>make a survey</h3>
    <div data-bind="foreach:mappedSections">
            <div data-bind="visible: viewModel.page() == page() && visible()">
            <div data-bind="text:id"></div>
            <div data-bind="foreach:questions">
                <div class="control-group">
                    <label class="control-label" data-bind="text:$data.text, attr:{for:$data.id}"></label>
                    <div class="controls">
                        <div data-bind='item:$data, attr:{id:$data.id}'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <button data-bind='click: viewModel.prev, visible: viewModel.page() > 1'> prev </button>
            <button data-bind='click: viewModel.next'> next </button>
<script>

    var dat = '{{ form_data | safe }}';
    var form_data = ko.utils.parseJson(dat);

    function ForLoop(obj, times)
    {
        for (var i = 0; i < times; i++)
        {
            objlist[i] = obj;
        }
        return objlist;
    }

    function Section(id, type, order, page, visible, questions)
    {
        this.type = ko.observable(type);
        this.id = ko.observable(id);
        this.order = ko.observable(order);
        this.page = ko.observable(page);
        this.questions = ko.observableArray(questions);
        if (visible != undefined)
        {
            this.visible = ko.observable(visible);
        }
        else
        {
            this.visible = ko.observable(true);
        }
    };

    function Question(id, type, text, options, value, forloop, caption, if_statement)
    {
        this.id = ko.observable(id);
        this.type = ko.observable(type);
        this.text = ko.observable(text);
        this.options = ko.observableArray(options);
        this.selected = ko.observable();
        this.value = ko.observable(value);
        this.caption = ko.observable(caption);
        this.if_statement = ko.observableArray(if_statement);

    };

    function If_Statement(logic, value, do_this, place)
    {
        this.logic = ko.observable(logic);
        this.value = ko.observable(value);
        this.do_this = ko.observable(do_this);
        this.place = ko.observable(place);
    };

    var stringTemplateSource = function (template) {
        this.template = template;
    };

    stringTemplateSource.prototype.text = function () {
        return this.template;
    };

    var stringTemplateEngine = new ko.nativeTemplateEngine();
    stringTemplateEngine.makeTemplateSource = function (template) {
        return new stringTemplateSource(template);
    };

    var templates = {
        textarea: '<textarea data-bind="value:value"></textarea>',
        textfield: '<input type="text" data-bind="value:value" />',
        select: '<select data-bind="options: options, value: value, optionsCaption: caption, event: {change: viewModel.goto}"></select>',
        checkbox: '<input type="checkbox" data-bind="checked:value" />'
    };

    ko.bindingHandlers.item = {
        init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
            var options = ko.utils.unwrapObservable(valueAccessor());
            options.value = ko.observable('');
            ko.renderTemplate(templates[options.type()], options, { templateEngine: stringTemplateEngine }, element, 'replaceNode');
        }
    };

    var viewModel =
    {
        page: ko.observable(1),
        visitedPages: ko.observableArray(),
        goto: function()
        {
            var val = this.value();
            for (var i=0; i < this.if_statement().length; i++)
            {
                var logic = this.if_statement()[i].logic();
                apply_logic[logic](val, this.if_statement()[i]);
            }
        },
        next: function(){
            var page = viewModel.page();
            var nextPage = page + 1;
            var index = viewModel.visitedPages().indexOf(page);
            if (index < 0)
            {
                viewModel.visitedPages().push(page);
            }
            else
            {
                if (index < viewModel.visitedPages().length-1)
                {
                    nextPage = viewModel.visitedPages()[index + 1];
                }
            }
            viewModel.page(nextPage);
        },
        prev: function(){
            var page = viewModel.page();
            var index = viewModel.visitedPages().indexOf(page);
            if (index < 0)
            {
                viewModel.visitedPages().push(page);
            }
            var pages = viewModel.visitedPages();
            var index = viewModel.visitedPages.indexOf(page);
            console.log(index);
            viewModel.page(pages[index - 1]);

        },
        sections: ko.observableArray([
            {
                questions: ko.observableArray([
                        {
                            logics: ko.observableArray([
                            ])
                        }
                ])
            }])
    };


    var apply_logic =
    {
        'equals': function (val, if_statement) {
                if (val == if_statement.value())
                    {
                        var id = if_statement.place();
                        for (var j = 0; j < mappedSections.length; j++)
                        {
                            if (mappedSections[j].id() == id)
                            {
                                if (mappedSections[j].visible() == false)
                                {
                                    mappedSections[j].visible(true);
                                }
                                else
                                {
                                    var page = mappedSections[j].page();
                                    viewModel.page(page);
                                }
                            }
                        }
                    }},
        'less than': function (val, if_statement) {
                if (val < if_statement.value())
                    {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j].id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        if (viewModel.visitedPages().indexOf(page) < 0)
                        {
                            viewModel.visitedPages().push(page);
                        }
                        viewModel.page(page);
                    }},
        'greater than': function (val, if_statement) {
                if (val == if_statement.value())
                    {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j].id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        if (viewModel.visitedPages().indexOf(page) < 0)
                        {
                            viewModel.visitedPages().push(page);
                        }
                        viewModel.page(page);
                    }},
        'between': function(val, if_statement)
        {
            if (val > if_statement.value()[0] && val < if_statement.value()[1])
            {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j].id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        if (viewModel.visitedPages().indexOf(page) < 0)
                        {
                            viewModel.visitedPages().push(page);
                        }
                        viewModel.page(page);
            }

        }

    }


    var sections = form_data[0].sections;
    var mappedSections = ko.utils.arrayMap(sections, function(section)
    {
       // before we map the questions we have to go through and look for
       // a for loop attrib and add to the questions
       var len = section.questions.length;
       for (var i = 0; i < len; i ++)
       {
           if (section.questions[i].forloop)
           {
               for (var j = 0; j < section.questions[i].forloop; j++)
               {
                   var question = {};
                   jQuery.extend(question, section.questions[i]);
                   question.id = section.questions[i].pre + j;
                   section.questions.splice(i + j, 1, question);
               }

           }
       }
        var mappedQuestions = ko.utils.arrayMap(section.questions, function(question)
       {
           var mappedLogics = ko.utils.arrayMap(question.if_statement, function(logic)
           {
               return new If_Statement(logic.logic, logic.value, logic.do, logic.place);
           });

           return new Question(
                   question.id, question.type, question.text,
                   question.options, question.value, question.forloop, question.caption, mappedLogics);
       });
       return new Section(section.id, section.type, section.order, section.page, section.visible, mappedQuestions);
    });
    viewModel.sections(mappedSections);

    ko.applyBindings(viewModel);

</script>
</body>
