{% include 'base.html' %}
<style>
        body
        {
            font-family: 'Garamond', 'Georgia', serif;
        }
</style>
<body>
    <h3> the data structure </h3>
    <p data-bind="text:dat"></p>
    <h3> the mapping </h3>
    <p data-bind="text:ko.toJSON(mappedSections)"> </p>
    <h3>make a survey</h3>
    <div data-bind="foreach:mappedSections">
            <div data-bind="visible: viewModel.page() == page()">
            <div data-bind="text:id"></div>
            <div data-bind="foreach:questions">
                <span data-bind="text: text"></span>
                <select data-bind="options: options, value:value, event: {change: viewModel.goto }"></select>
                <br>
            </div>
            <button data-bind='click: viewModel.prev, visible: viewModel.page() > 1'> prev </button>
            <button data-bind='click: viewModel.next'> next </button>
        </div>
    </div>
<script>

    var dat = '{{ form_data | safe }}';
    var form_data = ko.utils.parseJson(dat);

    function ForLoop(obj, times)
    {
        var objlist = []
        for (var i = 0; i < times; i++)
        {
            objlist[i] = obj;
        }
        return objlist;
    }

    function Section(id, typ, order, page, questions)
    {
        this.typ = ko.observable(typ);
        this.id = ko.observable(id);
        this.order = ko.observable(order);
        this.page = ko.observable(page);
        this.questions = ko.observableArray(questions);
    };

    function Question(id, typ, text, options, value, forloop, if_statement)
    {
        this.id = ko.observable(id);
        this.typ = ko.observable(typ);
        this.text = ko.observable(text);
        this.options = ko.observableArray(options);
        this.selected = ko.observable();
        this.value = ko.observable(value);
        this.if_statement = ko.observableArray(if_statement);

    };

    function If_Statement(logic, value, do_this)
    {
        this.logic = ko.observable(logic);
        this.value = ko.observable(value);
        this.do_this = ko.observable(do_this);
    };

    var viewModel =
    {
        page: ko.observable(1),
        goto: function()
        {
            var val = this.value();
            for (var i=0; i < this.if_statement().length; i++)
            {
                var if_statement = this.if_statement()[i];
                get_logic(val, if_statement);
            }
        },
        next: function(){
            var page = viewModel.page();
            viewModel.page(page + 1);
        },
        prev: function(){
            var page = viewModel.page();
            viewModel.page(page - 1);
        },
        sections: ko.observableArray([
            {
                questions: ko.observableArray([
                        {
                            logics: ko.observableArray([
                            ])
                        }
                ])
            }])
    };

    function get_logic(val, if_statement)
    {
        var logic = if_statement.logic();
        apply_logic[logic](val, if_statement);
    }

    var apply_logic =
    {
        'equals': function (val, if_statement) {
                if (val == if_statement.value())
                    {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j]._id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        viewModel.page(page);
                    }},
        'less than': function (val, if_statement) {
                if (val < if_statement.value())
                    {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j]._id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        viewModel.page(page);
                    }},
        'greater than': function (val, if_statement) {
                if (val == if_statement.value())
                    {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j]._id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        viewModel.page(page);
                    }},
        'between': function(val, if_statement)
        {
            if (val > if_statement.value()[0] && val < if_statement.value()[1])
            {
                        var id = if_statement.do_this();
                        for (var j = 0; j < sections.length; j++)
                        {
                            if (sections[j]._id == id)
                            {
                                var page = sections[j].page;
                            }
                        }
                        viewModel.page(page);
            }

        }

    }


    var sections = form_data[0].sections;
    var mappedSections = ko.utils.arrayMap(sections, function(section)
    {
       // before we map the questions we have to go through and look for
       // a for loop attrib and add to the questions
       var len = section.questions.length;
       for (var i = 0; i < len; i ++)
       {
           if (section.questions[i].forloop)
           {
               for (var j = 1; j < section.questions[i].forloop + 1; j++)
               {
                   section.questions.splice(i + j, 0, section.questions[i]);
               }

           }
       }
        var mappedQuestions = ko.utils.arrayMap(section.questions, function(question)
       {
           var mappedLogics = ko.utils.arrayMap(question.if_statement, function(logic)
           {
               return new If_Statement(logic.logic, logic.value, logic.do);
           });
           return new Question(
                   question._id, question.typ, question.text,
                   question.options, question.value, question.forloop, mappedLogics);
       });
       return new Section(section._id, section.typ, section.order, section.page, mappedQuestions);
    });
    viewModel.sections(mappedSections);

    ko.applyBindings(viewModel);

</script>
</body>
