{% include 'base.html' %}
<style>
        body
        {
            font-family: 'Garamond', 'Georgia', serif;
        }
        .content
        {
            height: 768px;
            margin:0 auto;
            border:solid 1px #c3c7bd;
        }
</style>
<body>
    <div class="text-center" style="font-size:26px">
            welcome
    </div>
    <div class="row">
        <div class="fill col-sm-2">
            nope
        </div>
        <div class="content col-sm-8">


        </div>
        <div class="options col-sm-2">
            dope
        </div>
    </div>
</body>
</html>

